ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navlink {
  float: left;
  width: 7.6%;
}

.navlink span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navlink span:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
/* Banner */
/* #banner {
  padding: 5%;
  text-align: center;
  color: white;
  font-size: xxx-large;
  background: cornflowerblue;
} */
#banner img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin:auto;
  display:block
}
/* Category Cards */
.category-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 4%;
  width: 85%;
}

#category-container {
  background-color: rgb(196, 196, 196);
  margin-top: 25px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  text-align: center;
  padding-top: 45px;
}
#category-card {
  background-color: #ffffff;
  margin: 1%;
}
#tag-line {
  font-weight: bold;
  font-size: xx-large;
  margin: 10px;
}
/* SearchBar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 9em;
  left: 35%;
}