ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navlink {
  float: left;
}

.navlink span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navlink span:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
/* Banner */
#banner {
  padding: 5%;
  text-align: center;
  color: white;
  font-size: xxx-large;
  background: cornflowerblue;
}